* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Press Start 2P", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

.container {
  width: 70rem;
  height: 30rem;
  background-color: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*********/
/* START */
/*********/
.start-window {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  width: 100%;
}

.btn {
  font-family: inherit;
  font-size: 3.2rem;
  background-color: #222;
  color: #ddd;
  border: none;
  padding: 1.2rem 0;
  letter-spacing: 0.3rem;
}

.btn--countdown:hover,
.btn--countdown:active {
  background-color: #ddd;
  color: #222;
}

.btn--countdown:active {
  background-color: #222;
  color: #ddd;
}

.btn--timer:hover,
.btn--timer:active {
  background-color: #ddd;
  color: #222;
}

.btn--timer:active {
  background-color: #222;
  color: #ddd;
}

.btn--countdown:hover::before {
  content: "CODING ";
}

.btn--timer:hover::before {
  content: "CODING ";
}

/***********/
/* BUTTONS */
/***********/
.btn--start {
  width: 10rem;
  height: 10rem;
  background: none;
  border: none;
  background-color: aqua;
  border-radius: 50%;
}

.btn--pause {
  width: 10rem;
  height: 10rem;
  background: none;
  border: none;
  background-color: red;
  border-radius: 50%;
}

.btn--stop {
  width: 7rem;
  height: 7rem;
  background: none;
  border: none;
  background-color: darkgoldenrod;
  border-radius: 50%;
}

/*******************/
/* HELPER SETTINGS */
/*******************/
.hidden {
  display: none;
}
