* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Press Start 2P", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

.timer-window {
  width: 50rem;
  height: 30rem;
  background-color: #222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  font-weight: 400;
  color: #fff;
}

.btns {
  background-color: burlywood;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}

.btn {
  border: none;
  border-radius: 5px;
  padding: 1rem 2rem;
  font-size: 2rem;
  font-family: inherit;
  color: #fff;
  background-color: #444;
  cursor: pointer;
}

.btn--start:hover,
.btn--start:active {
  background-color: #233707;
}

.btn--stop:hover,
.btn--stop:active {
  background-color: #481313;
}

.btn--inactive {
  background-color: #333;
  color: #aaa;
  cursor: default;
}
