* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Press Start 2P", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #111;
}

.container {
  width: 80rem;
  height: 45rem;
  background-color: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*********/
/* START */
/*********/
.start-window {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  width: 100%;
  overflow: hidden;
}

.btn {
  font-family: inherit;
  font-size: 3.2rem;
  background-color: #222;
  color: #ddd;
  border: none;
  padding: 1.2rem 0;
  letter-spacing: 0.3rem;
}

.btn--countdown:hover,
.btn--countdown:active {
  background-color: #ddd;
  color: #222;
  cursor: pointer;
}

.btn--countdown:active {
  background-color: #222;
  color: #ddd;
}

.btn--timer:hover,
.btn--timer:active {
  background-color: #ddd;
  color: #222;
  cursor: pointer;
}

.btn--timer:active {
  background-color: #222;
  color: #ddd;
}

.btn--countdown:hover::before {
  content: "CODING_";
}

.btn--countdown:hover::after {
  content: "();";
}

.btn--timer:hover::before {
  content: "CODING_";
}

.btn--timer:hover::after {
  content: "();";
}

.countdown-input {
  position: absolute;
  display: inline-block;
  height: 5.6rem;
  width: 100%;
  border: none;
  background-color: #ddd;
  color: #222;
  font-size: 3.2rem;
  font-family: inherit;
  resize: none;
  text-align: center;
}

/*************/
/* COUNTDOWN */
/*************/
.countdown-window {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  width: 100%;
}

.countdown {
  display: flex;
  gap: 2rem;
  font-size: 7.2rem;
}

.pause--text {
  font-size: 3.2rem;
}

.pause {
  display: flex;
  gap: 0.25rem;
  color: #999;
}

/***********/
/* BUTTONS */
/***********/
.btns {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  transform: translate(3.25rem, 0);
}

.btn--start {
  width: 10rem;
  height: 10rem;
  background: none;
  border-radius: 50%;
  border: none;
  background-color: #555;
}

.btn--pause {
  width: 10rem;
  height: 10rem;
  background: none;
  border: none;
  background-color: #555;
  border-radius: 50%;
}

.btn--stop {
  width: 5rem;
  height: 5rem;
  background: none;
  border: none;
  background-color: #555;
  border-radius: 50%;
}

/*******************/
/* HELPER SETTINGS */
/*******************/
.hidden {
  display: none;
}
